# Ignore local environment variables (CRITICAL)
.env

# Ignore Python virtual environment
venv

# Ignore Python cache
__pycache__
.pyc

# Ignore local databases
.db

# Ignore OS files
.DS_Store
Thumbs.db